.item-detail {
  display: grid;
 grid-template-columns: 60px 80px 120px 140px 140px 100px 150px 100px 120px 140px;
  justify-items: center;
  border-bottom: 1px solid #777;
  padding: 10px 0;
}
.status-btn{
  border:1px solid #dff8cb;
  color:#afdcac;
  background-color:white;
}
.action-btn{
  border:1px solid #ededed;
  color:#8b8c8e;
  background-color:white;
  margin-left:-10px;
}
