.header {
  position:sticky;
  top:0;
  left:0;
  width:100%;
}
.main {
  display: flex;
  justify-center: center;
}
.sidebar {
  width: 16%;
 
}
.main-content {
  width: 84%;
  background-color: #f0f2f5;
}
